{
  "presets": [],
  "env": {
    "production": {
      "plugins": ["lodash"],
      "presets": [
        [
          "env",
          {
            "modules": false,
            "targets": {
              "node": 4,
              "browsers": ["last 2 versions", "chrome >= 55", "IE >= 11"],
              "uglify": true
            },
            "useBuiltIns": true
          }
        ],
        "minify"
      ]
    },
    "test": {
      "plugins": [
        [
          "istanbul",
          {
            "exclude": ["**/*.test.js", "__tests__/__helpers__/*.js"]
          }
        ],
        "rewire"
      ],
      "presets": [
        [
          "env",
          {
            "targets": {
              "browsers": ["last 2 versions", "chrome >= 55", "IE >= 11"]
            },
            "useBuiltIns": true
          }
        ]
      ]
    }
  }
}
